

// Copy Right
div(class="bg-grey-light py-4")
    div(class="container text-center")
        p(class="text-sm sm:text-base") &copy; All rights reserved to Mohamed Sayed
script(src="../public/js/app.js")