div(class="rate")
    input(type="radio", name="rate", value="5", id="5")
    label(for="5") ☆
    input(type="radio", name="rate", value="5", id="4")
    label(for="4") ☆
    input(type="radio", name="rate", value="5", id="3")
    label(for="3") ☆
    input(type="radio", name="rate", value="5", id="2")
    label(for="2") ☆
    input(type="radio", name="rate", value="5", id="1")
    label(for="1") ☆
