/************************************************************************************************************************
                                                PREFXIXERS
***********************************************************************************************************************/

@mixin prefixers($property,$value,$prefixers:()){
    @each $prefixer in $prefixers{
        -#{$prefixer}-#{$property}:$value;
        #{$property}:$value;
    }
}

@mixin value-prefixers($property,$value,$prefixers:()){
    @each $prefixer in $prefixers{
        #{$property}:  -#{$prefixer}-#{$value};
        #{$property}: $value
    }
}


/************************************************************************************************************************
                                                FONT FACE
***********************************************************************************************************************/

@mixin font-face($font-url,$font-family) {
    @font-face {
        font-family: $font-family;
        src: url($font-url);
    }
}

/************************************************************************************************************************
                                                POSITION
***********************************************************************************************************************/

@mixin position($type,$top:0,$right:0,$bottom:0,$left:0){
    position:$type;
    top:$top;
    right:$right;
    bottom:$bottom;
    left:$left;
}


/************************************************************************************************************************
                                                ALL ELEMENT
***********************************************************************************************************************/

@function all-element($element,$pseudo:null) {
    $list:();
    @each $item in $element{
      $item: if($pseudo, $item + ":" + $pseudo, $item);
      $list: append($list,$item,comma)
    }
    @return $list;
}

/************************************************************************************************************************
                                                BREAK POINTES
***********************************************************************************************************************/

@mixin breakpoint($type,$media){
    @if map-has-key($breakpoints , $media ){
        $get : map-get($breakpoints, $media);
        @media(#{$type}: #{$get}){
            @content;
        }
    }
    @else{
        @error #{$media} + " is not defined";
    }
}

  