<!DOCTYPE html>
html(lang="en", class="font-sans")
    //- Include Header.pug
    include partials/header.pug

    body
        //- Include Navbar.pug
        include partials/navbar.pug

        //- My Works Tab
        div(class="w-full bg-grey-lighter py-6 sm:py-16", style="margin-top:66px")
            div(class="container")
                div(class="py-2 sm:p-4 flex flex-wrap")
                    - for(var i=0; i < 12; i++)
                        div(class="md:w-1/2 lg:w-1/3 p-1 sm:p-3")
                            a(class="p-2 block shadow no-underline text-black hover:text-blue bg-white", href="./singleWork.html")
                                img(src="../public/images/header-bg-1.png")
                                h3(class="capitalize text-center font-normal py-2 sm:text-lg text-sm") e-commerce website


        //- Include Loading.put
        include partials/loading.pug
        
    //- Include Footer.pug

    include partials/footer.pug